@{
    Layout = "_MainLayout";
}

<div class="container control-panel" id="control-panel">
    <div class="row justify-content-center align-content-center header-col">
        <div class="col d-flex justify-content-center">
            <a href="#" class="btn-style-header-smaller btn-main-header-color">
                <img class="header-icon" src="https://drive.google.com/thumbnail?id=108xIQymI8059CugT5AlqOx3YgQ64jlyA">
            </a>
        </div>

        <div class="col d-flex justify-content-center">
            <a href="#" class="btn-style-header-smaller btn-main-header-color">
                <img class="header-icon" src="https://drive.google.com/thumbnail?id=10UTj9Z9Ln1VBW0NeNQfO_6dBkwzZoweX">
            </a>
        </div>
        
        <div class="col d-flex justify-content-center">
            <button class="btn-style-header-smaller btn-main-header-color">
                <img class="header-icon" src="https://drive.google.com/thumbnail?id=1-jMEYoBQO0Gw03LyLzgFwAZZxwMOoJFg">
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <button class="btn-style-header-smaller btn-main-header-color">
                <img class="header-icon" src="https://drive.google.com/thumbnail?id=109kQbT1q0vVlsjA03h5c6AsHISDV9G_S">
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <button class="btn-style-header-smaller btn-main-header-color">
                <img class="header-icon" src="https://drive.google.com/thumbnail?id=1-S5uIZoQFWr94bmlRe3mjEEzucoCdHgA">
            </button>
        </div>
    </div>
</div>
@RenderBody()