@{
    Layout = "_Layout";
}

<main>
    <header>
        <div class="container text-center text-white">
            <div class="col">
                <h4>Bytech</h4>
                <h1>ICollection</h1>
                <h6>Create And Publish your Collections</h6>
            </div>
        </div>
    </header>
    <section class="section-large-padding">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h4>Create Your New Account</h4>
                    <a href="@Url.Action("index","registration")">
                    <button class="button btn-style-large btn-registration-color">
                        <h4>Registration</h4>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-large-padding">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h4 class="text-">Login to your account</h4>
                    <a href="@Url.Action("index","login")">
                        <button class="button btn-style-large btn-registration-color">
                            <h4>Login</h4>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        Muhammd
    </footer>
</main>