@model KeyValuePair<int,IDictionary<string, string>>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registration";
    ViewData.Add("Lang", Model.Key);
}

<div class="container registration-grid">
    <div class="row">
            <div class="col-12 registration-panel">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-12">
                        <h1>@Model.Value["registration_word"]</h1>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="" class="form-label">Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name=""
                                    id="name_field"
                                    placeholder=""
                                />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="" class="form-label">Lastname</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name=""
                                    id="lastname_field"
                                    placeholder=""
                                />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="" class="form-label">Email</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    name=""
                                    id="email_field"
                                    placeholder=""
                                />
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Password</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    name=""
                                    id="password_field"
                                    placeholder=""
                                />
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Confirm Password</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    name=""
                                    id="confirmPassword_field"
                                    placeholder=""
                                />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                            <button onclick="registration()" class="button btn-style-large btn-submit-color">@Model.Value["submit_word"]</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                            <a href="@(Url.Action("index","login", new {lang = Model.Key}))">
                                <button class="button btn-style-medium btn-redirect-login">@Model.Value["login_word"]</button>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="~/js/authorization.js"></script>